.producto_principal {
    width: 160px;
    float: left;
    padding: 2%;
}

.producto_principal img {
    width: 100%;
}

.producto_principal .producto_titulo {
    color: #71E828;
}

.producto_principal p {
    margin: 0;
}

.btn_producto_agregar {
    color: #fff;
    background-color: #71E828;
    border-color: #71E828;
}

.btn_producto_agregar:hover {
    color: #71E828;
    background-color: white;
    border-color: white;
}

.proMeses {
    font-size: 25px;
    font-family: Calibri;
    color: #494141;
}

.proMeses2 {
    margin-top: 10px;
    font-size: 25px;
    font-family: Calibri;
    color: #494141;
}

.sillas {
    margin-top: -6px;
    border-style: solid;
    border-top-width: 2px;
    border-color: white;
    border-top-color: #dccfcf;
    padding: 15px;
}

.sillas2 {
    border-style: solid;
    border-top-width: 2px;
    border-color: white;
    border-top-color: #dccfcf;
    padding: 15px;
}

.sill {
    border-style: solid;
    border: #494141;
}

.botonesgrises {
    float: left;
    margin-right: 20px;
}

.container_categorys_articles {
    margin-left: 0px;
}